body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  background-color: darkgreen;
  justify-content: center;
}

h3 {
  background-color: rgb(16, 60, 204);
}

.info {
  background-color: aqua;
}

button{
  background-color: rgb(24, 24, 216);
}

img {
 border-radius: 70px;
}

.centre{
  display: flex;
  justify-content: center;
}
